USE [webVideo]
GO
/****** Object:  Table [dbo].[checklog]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checklog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accecsTime] [datetime] NOT NULL,
	[userName] [nvarchar](255) NULL,
	[URI] [varchar](255) NULL,
	[id_User] [varchar](255) NULL,
	[device] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idvideo] [varchar](255) NOT NULL,
	[iduser] [varchar](255) NOT NULL,
	[content] [nvarchar](500) NULL,
	[dateComment] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[likeDate] [date] NULL,
	[Userld] [varchar](255) NULL,
	[Videold] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [varchar](255) NOT NULL,
	[idVideo] [varchar](255) NOT NULL,
	[dateVisti] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhVien]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhVien](
	[mssv] [int] NOT NULL,
	[hoTen] [nvarchar](250) NOT NULL,
	[diem] [numeric](18, 0) NOT NULL,
	[chuyennganh] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mssv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscribers]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscribers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAuth] [varchar](255) NOT NULL,
	[idDk] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [varchar](255) NOT NULL,
	[admin] [bit] NULL,
	[email] [varchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[password] [varchar](255) NULL,
	[image] [varchar](255) NULL,
	[phone] [varchar](15) NULL,
	[gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[id] [varchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[description] [nvarchar](255) NULL,
	[poster] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[views] [int] NOT NULL,
	[link] [nvarchar](500) NULL,
	[dateUpload] [date] NULL,
	[author] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[checklog] ON 

INSERT [dbo].[checklog] ([id], [accecsTime], [userName], [URI], [id_User], [device]) VALUES (5546, CAST(N'2024-12-03T15:39:43.063' AS DateTime), N'Ngân Hoa', N'/admin/checklog', N'user010', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36')
INSERT [dbo].[checklog] ([id], [accecsTime], [userName], [URI], [id_User], [device]) VALUES (5547, CAST(N'2024-12-03T15:39:44.383' AS DateTime), N'Ngân Hoa', N'/chat/user010', N'user010', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36')
INSERT [dbo].[checklog] ([id], [accecsTime], [userName], [URI], [id_User], [device]) VALUES (5548, CAST(N'2024-12-03T15:40:20.773' AS DateTime), N'Ngân Hoa', N'/index/video/search', N'user010', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36')
GO
SET IDENTITY_INSERT [dbo].[checklog] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [idvideo], [iduser], [content], [dateComment]) VALUES (75, N'vid002', N'user004', N'Đây là video tốt nhất mà tôi đã xem trong tuần!', CAST(N'2024-10-18T14:22:20.000' AS DateTime))
INSERT [dbo].[Comments] ([id], [idvideo], [iduser], [content], [dateComment]) VALUES (76, N'vid007', N'user020', N'Thật ngạc nhiên khi video này lại mang lại nhiều kiến thức đến vậy!', CAST(N'2024-10-22T14:22:20.000' AS DateTime))
INSERT [dbo].[Comments] ([id], [idvideo], [iduser], [content], [dateComment]) VALUES (77, N'vid009', N'user011', N'Bạn làm rất tốt, tiếp tục phát huy nhé!', CAST(N'2024-10-28T14:22:20.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([id], [likeDate], [Userld], [Videold]) VALUES (96, CAST(N'2024-11-06' AS Date), N'user012', N'vid005')
INSERT [dbo].[Favorites] ([id], [likeDate], [Userld], [Videold]) VALUES (97, CAST(N'2024-11-07' AS Date), N'user017', N'vid001')
INSERT [dbo].[Favorites] ([id], [likeDate], [Userld], [Videold]) VALUES (98, CAST(N'2024-11-08' AS Date), N'user029', N'vid004')
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([id], [idUser], [idVideo], [dateVisti]) VALUES (9, N'user030', N'vid004', CAST(N'2024-11-22' AS Date))
INSERT [dbo].[History] ([id], [idUser], [idVideo], [dateVisti]) VALUES (42, N'user003', N'vid003', CAST(N'2024-11-22' AS Date))
INSERT [dbo].[History] ([id], [idUser], [idVideo], [dateVisti]) VALUES (75, N'user030', N'vid006', CAST(N'2024-11-25' AS Date))
SET IDENTITY_INSERT [dbo].[History] OFF
GO
INSERT [dbo].[sinhVien] ([mssv], [hoTen], [diem], [chuyennganh]) VALUES (1, N'Nguyễn Văn A', CAST(85 AS Numeric(18, 0)), N'Công nghệ thông tin')
INSERT [dbo].[sinhVien] ([mssv], [hoTen], [diem], [chuyennganh]) VALUES (2, N'Trần Thị B', CAST(90 AS Numeric(18, 0)), N'Kinh tế')
INSERT [dbo].[sinhVien] ([mssv], [hoTen], [diem], [chuyennganh]) VALUES (3, N'Lê Văn C', CAST(78 AS Numeric(18, 0)), N'Kỹ thuật điện tử')
GO
SET IDENTITY_INSERT [dbo].[subscribers] ON 

INSERT [dbo].[subscribers] ([id], [idAuth], [idDk]) VALUES (67, N'user001', N'user002')
INSERT [dbo].[subscribers] ([id], [idAuth], [idDk]) VALUES (68, N'user001', N'user003')
INSERT [dbo].[subscribers] ([id], [idAuth], [idDk]) VALUES (69, N'user002', N'user004')
SET IDENTITY_INSERT [dbo].[subscribers] OFF
GO
INSERT [dbo].[Users] ([id], [admin], [email], [fullname], [password], [image], [phone], [gender]) VALUES (N'user001', 0, N'hoangngoc@example.com', N'Hoàng Ngọ', N'123', N'8.jpg', N'0353502536', 1)
INSERT [dbo].[Users] ([id], [admin], [email], [fullname], [password], [image], [phone], [gender]) VALUES (N'user002', 1, N'thaotrang@example.com', N'Thảo Trang', N'123', N'2.jpg', N'0974636478', 0)
INSERT [dbo].[Users] ([id], [admin], [email], [fullname], [password], [image], [phone], [gender]) VALUES (N'user003', 0, N'dinhquang@example.com', N'Đinh Quang', N'123', N'3.jpg', N'0944519914', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_video_user]    Script Date: 26/02/2025 2:38:47 pm ******/
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [unique_video_user] UNIQUE NONCLUSTERED 
(
	[idvideo] ASC,
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_User_Video]    Script Date: 26/02/2025 2:38:47 pm ******/
ALTER TABLE [dbo].[Favorites] ADD  CONSTRAINT [UC_User_Video] UNIQUE NONCLUSTERED 
(
	[Userld] ASC,
	[Videold] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TenRangBuoc]    Script Date: 26/02/2025 2:38:47 pm ******/
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [TenRangBuoc] UNIQUE NONCLUSTERED 
(
	[idUser] ASC,
	[idVideo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TenRangBuoc2]    Script Date: 26/02/2025 2:38:47 pm ******/
ALTER TABLE [dbo].[subscribers] ADD  CONSTRAINT [TenRangBuoc2] UNIQUE NONCLUSTERED 
(
	[idAuth] ASC,
	[idDk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[checklog] ADD  DEFAULT (getdate()) FOR [accecsTime]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_users] FOREIGN KEY([iduser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [fk_comments_users]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_videos] FOREIGN KEY([idvideo])
REFERENCES [dbo].[Videos] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [fk_comments_videos]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FKapk07dy4gnu0pdlc1nhgwfxa5] FOREIGN KEY([Videold])
REFERENCES [dbo].[Videos] ([id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FKapk07dy4gnu0pdlc1nhgwfxa5]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FKn4vauwjdki7qegohifkdcords] FOREIGN KEY([Userld])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FKn4vauwjdki7qegohifkdcords]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD FOREIGN KEY([idVideo])
REFERENCES [dbo].[Videos] ([id])
GO
ALTER TABLE [dbo].[subscribers]  WITH CHECK ADD FOREIGN KEY([idAuth])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[subscribers]  WITH CHECK ADD FOREIGN KEY([idDk])
REFERENCES [dbo].[Users] ([id])
GO
/****** Object:  StoredProcedure [dbo].[FindVideoById]    Script Date: 26/02/2025 2:38:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindVideoById]
    @VideoId NVARCHAR(50)
AS
BEGIN
    SELECT * FROM videos WHERE id = @VideoId;
END;
GO
